/** Customizers */
body {
    padding-top: 4.2rem;
    background: url('./images/background.svg');
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.custom-file-label::after {
    color: #e6e6e6;
    content: 'Browse';
    background-color: #5975f3;
}

.btn[value='Upload'] {
    width: 20%;
    margin: 0 auto;
}

.btn.disabled {
    pointer-events: none;
}

.flex-center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    height: 40px;
}

.title--stand {
    font-size: 2.3em;
    margin-left: 20px;
}
/*! Customizers */

/** Result boxes */
.result-box {
    height: 85%;
    width: 100%;
    background: #f8f8f8;
    border-radius: 10px;
}

.result-box--analysis {
    display: flex;
    flex-flow: column nowrap;
    height: 95%;
}

.result-box__header {
    height: 40px;
    background: #7059f3;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.result-box__header--analysis {
    text-align: left;
    color: #ffffff;
    background: #f7b663;
}

.result-box__content {
    height: calc(100% - 40px);
}

.result-box__content--analysis {
    flex: 1;
}

/*! Result boxes */

/** Table data */
.table__title {
    color: #f8f8f8;
    font-weight: 500;
}

.table__title--hot {
    background: #f95d5d;
}

.table__col:not(:first-child) {
    border-left: 1px solid #ececec;
}

.table__result {
    border-bottom: 1px solid #b9b9b9;
    margin: 0 10px;
    color: #363636;
    font-size: 1.05em;
    line-height: 2.2em;
}

.result__section {
    font-weight: bold;
    color: limegreen;
}

/*! Table data */

/** Stand */
.your-stand {
    height: 180px;
    width: 60%;
    background: #f5f5f5;
    margin: auto;
    margin-top: 3%;
    border-radius: 15px;
}

.stand__section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background: #90eaa8;
    border-radius: 10px;
    font-size: 2.3em;
    color: #ffffff;
}
/*! Stand */

/** Help */
.help {
    background: #fafafa;
    font-weight: 300;
}

.help-icon {
    width: 40px;
    height: 40px;
}
/*! Help */

/** Charts */
.chart__column {
    position: relative;
    width: 30px;
    border-radius: 8px;
    margin: 25px 12px 5px 12px;
}

.chart__column::before {
    content: attr(data-value);
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.chart__axis {
    position: relative;
    right: 18px;
    width: 40px;
    font-weight: lighter;
    color: #a7a7a7;
    font-size: 0.9em;
}

.chart__axis::after {
    content: '';
    position: absolute;
    top: 15px;
    right: -12px;
    width: 2px;
    height: 130px;
    background: #d4d4d4;
}

.stand__section__color--1 {
    background: #909eea;
}
.stand__section__color--2 {
    background: #c3efa9;
}
.stand__section__color--3 {
    background: #f9b78f;
}
.stand__section__color--4 {
    background: #a6ecec;
}

.podium__image {
    position: relative;
    top: 20px;
    height: 120px;
}

.podium__result {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    position: absolute;
}

.podium__result--2 {
    left: 181px;
    top: 180px;
}

.podium__result--3 {
    top: 190px;
    right: 181px;
}

/*! Charts */
