/** Customizers */
body {
    padding-top: 4.2rem;
    background: url('./images/background.svg');
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.custom-file-label::after {
    color: #e6e6e6;
    content: 'Browse';
    background-color: #5975f3;
}

.btn[value='Upload'] {
    width: 20%;
    margin: 0 auto;
}

.btn.disabled {
    pointer-events: none;
}

.flex-center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    height: 40px;
}

.title--stand {
    font-size: 2.3em;
    margin-left: 20px;
}
/*! Customizers */

/** Result boxes */
.result-box {
    height: 85%;
    width: 100%;
    background: #f8f8f8;
    border-radius: 10px;
}

.result-box--analysis {
    display: flex;
    flex-flow: column nowrap;
    height: 95%;
}

.result-box__header {
    height: 40px;
    background: #7059f3;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.result-box__header--analysis {
    text-align: left;
    color: #ffffff;
    background: #f7b663;
}

.result-box__content {
    height: calc(100% - 40px);
}

.result-box__content--analysis {
    flex: 1;
}

/*! Result boxes */

/** Table data */
.table__title {
    color: #f8f8f8;
    font-weight: 500;
}

.table__title--hot {
    background: #f95d5d;
}

.table__col:not(:first-child) {
    border-left: 1px solid #ececec;
}

.table__result {
    border-bottom: 1px solid #b9b9b9;
    margin: 0 10px;
    color: #363636;
    font-size: 1.05em;
    line-height: 2.2em;
}

.result__section {
    font-weight: bold;
    color: limegreen;
}

/*! Table data */

/** Stand */
.your-stand {
    height: 180px;
    width: 60%;
    background: #f5f5f5;
    margin: auto;
    margin-top: 3%;
    border-radius: 15px;
}

.stand__section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background: #90eaa8;
    border-radius: 10px;
    font-size: 2.3em;
    color: #ffffff;
}
/*! Stand */

/** Help */
.help {
    background: #fafafa;
    font-weight: 300;
}

.help-icon {
    width: 40px;
    height: 40px;
}
/*! Help */
